
<%include shared/header/%>
  <h4>Contacts</h4>
  <div class="contact-list">
    <% contacts.forEach(function(contact){ %>
      <div>
        <%= contact.name %>
      </div>
    <% }) %>
  </div>
<%include shared/footer/%>