
<%include shared/header/%>
  <h4>Contacts</h4>
  <div class="contact-list">
    <% contacts.forEach(function(contact){ %>
      <div class="row">
          <div class="col s10">
              <a href="/contacts/<%= contact.id %>"><%= contact.name %></a>
          </div>
          <div class="col s2 right-align">
              <a href="#" class="deleteContact red-text" id="<%= contact.id %>" name="<%= contact.name.replace(/\"/g, '\'') %>"><strong>X</strong></a>
          </div>
      </div>
    <% }) %>
  </div>
<%include shared/footer/%>