<%include shared/header/%>
<h4>New Contact</h4>
<div class="row">&nbsp;</div>
<div class="row">
    <form class="col s12" action="/contacts/add" method="GET">
        <div class="row">
            <div class="col s3 right-align form-label">
                <label for="name">name</label>
            </div>
            <div class="col s6">
                <input name="name" placeholder="Jane Smith" id="name" type="text" class="validate" validate>
            </div>
        </div>
        <div class="row">
            <div class="col s3 right-align form-label">
                <label for="email">email</label>
            </div>
            <div class="col s6">
                <input name="email" placeholder="me@email.com" id="email" type="email" class="validate" validate>
            </div>
        </div>
        <div class="row">
            <div class="col s3 right-align form-label">
                <label for="phone">phone</label>
            </div>
            <div class="col s6">
                <input name="phone" placeholder="1(510)555-1212" id="phone" type="tel" class="validate" validate>
            </div>
        </div>
        <div class="row">
            <div class="col s3 right-align form-label">
                <label for="address">address</label>
            </div>
            <div class="col s6">
                <textarea name="address" id="address" class="materialize-textarea" placeholder=""></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col s3 right-align form-label">
                <label for="phone">birthday</label>
            </div>
            <div class="col s3">
                <input name="birthday" placeholder="1980-08-01" id="birthday" type="text" class="validate" validate>
            </div>
        </div>
        <div class="row">
            <div class="col s3 right-align form-label">
                <label for="website">website</label>
            </div>
            <div class="col s6">
                <input name="website" placeholder="http://www.janesmith.com" id="website" type="url" validate>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col s3">
            </div>
            <div class="col s6 right-align">
                <button class="btn buttonStyle">Create Contact</button>
            </div>
        </div>
    </form>
</div>
<script>
  $(document).ready(() => {
    var placeholderAddress = '123 Main Street\nCity, CA 94441\nUnited States';
    $('#address').attr('placeholder', placeholderAddress);
  });
</script>
<%include shared/footer/%>